<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles/stylemain.css">
        <link rel="stylesheet" href="static/styles/stylenav.css">
        <link rel="stylesheet" href="static/styles/styleurl.css">
		<script src="static/js/myfunc.js"></script>
        <title>CherubFish: URL shortner </title>
    </head>

    <body>
        <div class="Header"></div>
        
        <section class="main_con">
            <div class="Content">
                <h1>Enter URL:</h1>
                <form method="POST" class="URL_bar">
                    <input type="text" name="URL" class="search_bar">
                    <input type="submit" class="search_button" onclick="dropDownfunc();return false">
                </form>
                <div id="Url_response">
                    {{ response }}
                </div>
            </div>
            <div class="Content">
                This is the content
            </div>
            <div class="Content">
                    <form method="POST" class="URL_bar">
                        <input type="text" name="URL" class="search_bar">
                        <input type="submit" class="search_button" onclick="dropDownfunc2();return false">
                    </form>
                    <div id="Url_response2">
                        {{ response }}
                    </div>
                </div>
        </section>
    </body>
</html>