<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/styles/stylemain.css">
        <link rel="stylesheet" href="static/styles/stylenav.css">
        <title>CherubFish: URL shortner </title>
    </head>

    <body>
        <div class="Header">
            <h2>This is the Header</h2>
        </div>
        <div class="Nav">
            <h2>This is the Header</h2>
        </div>
        <section class="main_con">
            <div class="Content">
                This is the content
            </div>
            <div class="Content">
                This is the content
            </div>
        </section>
    </body>
</html>