@import url('https://fonts.googleapis.com/css?family=Montserrat');

.URL_bar {
    text-align: center;
    padding-top: 75px;
}
.search_bar {
    width: 75%;
    height: 3em;    
    background-color:white;
    margin: 10px;
    box-shadow: 0 0 5px black;
    border-radius: 2px;
    color: grey;
    padding-left: 10px;
}

.search_button {
    background-color: orange;
    height: 3.4em;
    width: 7em;
    border: 1px white solid;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    font-family: Montserrat;
    font-size: 12px;
}

#Url_response {
    background-color: red;
    text-align: center;
    margin-top: 10px;
    height: 30px;
}

#Url_response2 {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}