@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    padding: 0px;
    margin: 0px;
}

.Header {
    background-image: url('https://github.com/Syssos/CherubFish/blob/web/templates/static/images/Banner.jpg?raw=true');
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
    position: fixed;    
}

section.main_con {
    width: 75%;
    color: white;
    padding-top: 260px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

div.Content {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    flex-wrap: no-wrap;
}

body { 
    background-color: #222629;
}

.main_con h1 {
    padding-top: 30px;
    margin-bottom: -20px;
    margin-top: 40px;
    text-align: center;
    font-family: Montserrat

}